
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    align-items: flex-start;
}

.header-box, .services-box {
    width: 40%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}
.header-box img {
    width: 100%;
    height: auto;
}

.services-box {
    max-width: 800px;
}
.header-box, .services-box{
    box-sizing: border-box;
}

header {
    background-color: #87a49758;
    color: #ffffff83;
    padding: 10px;
}
/* ... Autres styles ... */

.photo-bloc {
    max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
    width: 100%;
    margin: 0 auto; /* Centre l'image dans la boîte */
    overflow: hidden; /* Masque le contenu qui dépasse de la boîte */
  }
  
  .photo-bloc img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste l'image pour couvrir complètement la boîte */
  }
  
  /* ... Autres styles ... */
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.service {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
.mosaique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.realisation {
    width: 48%;
    margin-bottom: 20px;
}

.realisation img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .realisation {
        width: 100%;
    }
}
.header-box {
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.services-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.services-box h2 {
    color: #333;
}

.service {
    margin-bottom: 20px;
}

footer {
    background-color: #bea2a2;
    color: #754646;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
